PORT = 8000
MONGODB_URI = mongodb+srv://ananyabajpai729_db_user:putpassword@cluster0.clzwpwn.mongodb.net/?appName=Cluster0
CORS_ORIGIN = *
ACCESS_TOKEN_SECRET =coffee-secret-key
ACCESS_TOKEN_EXPIRY = 1d
REFRESH_TOKEN_SECRET= coffee-refresh-secret-key
REFRESH_TOKEN_EXPIRY = 10d